html
{background-color: white;

}

body
{
    background-color: initial;
    margin: 0;
    text-align: center;
    background: rgb(7,133,172);
background: linear-gradient(7deg, rgba(7,133,172,1) 20%, rgba(119,165,177,1) 100%);
 
    
}

h1
{
    border: 2px solid #0d7498;
    margin: 30px 200px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77);
}
nav
{
    display: flex;
    justify-content: center;
    padding: 30px 30px; 
    position: fixed;
    z-index: 3;
    flex-wrap: wrap;

}

a
{
    text-decoration: none;
    color: beige;
}

.blocNav
{
    font-size: 30px;
    border: beige 1px solid;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 7px 12px 18px 8px rgba(0,0,0,0.46);
    padding-left: 5px;
    padding-right: 5px;
    background-color: #0d7498;
    opacity: 0.6;
}

main
{
    background-color: antiquewhite;
    
}

.imageBureau
{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;

}


.imageBureau .dimension
{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: flex;
    opacity: 0.9 ;
}

.vignetteInfo
{
    background-color:rgba(104,107,110,1) ;
}

h2
{font-size: 40px;
    border: #0d7498 solid 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77);
}

p
{
    padding: 10px 50px;
    font-size: 25px;
}


footer
{
    height: 150px;
    background: linear-gradient(0deg, rgba(104,107,110,1) 64%, rgba(135,146,149,1) 88%, rgba(180,196,201,1) 97%);
    margin-top: 50px;
    padding-top: 50px;
    font-size: 20px;
}

@media only screen and (min-width:350px){

h1{
    margin: initial;
}

}