/**font-family: 'Indie Flower', cursive;
font-family: 'Mukta', sans-serif;**/

/*font-family: 'Orbitron', sans-serif;*/

body
{
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
font-family: 'Mukta', sans-serif;   
}

header
{
    background-color: white;
}

.logo
{
    width: 60px;
    height:60px;
}

.QRcode
{
    margin-top: 15px;
}

h1
{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.nom
{
    border-bottom: #84df81 solid 4px;
}

nav
{
    top: 0;
    position: fixed;
    display: flex;
    align-items: flex-start;
    padding-bottom: 5px;
    z-index: 3;
    flex-wrap: wrap;
    scroll-padding-right: 100%;
}

.miseEnAvant
{
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
    width: 100;
    flex-wrap: wrap;

}
/**promo**/
.promo
{
    background-color: #f8fa02;
    font-size: 20px;
    color: #39392e;
    border: 2px solid #000000;
}

/**promo**/
.rond
{
    width: 170px;
    height: 170px;
    border-radius: 65%;
    border: 10px solid #0d7498 ;
    color: #0d7498;
    font-size: 35px;
    padding-top: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    line-height: 40px;
}

.rondI
{
    width: 150px;
    height: 180px;
    font-size: 20px;
    border: #84df81 5px solid;
    margin:10px 5px;
}

.rondContour
{
    display: flex;
}


a
{
    text-decoration: none;
    color: beige;
}

.blocNav
{
    font-size: 30px;
    border: beige 1px solid;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 7px 12px 18px 8px rgba(0,0,0,0.46);
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: #0d7498;*/
    color: #000000;
    margin-top: 10px;
}

main
{
  /*  background-color: antiquewhite;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vignetteInfo
{
    width: 30%;
    margin: 15px;
    border: 1px solid #0d7498;
    border-radius: 15px;
   /* background: rgb(13,116,152);
background: linear-gradient(30deg, rgba(13,116,152,0.5690651260504201) 33%, rgba(132,223,129,0.7595413165266106) 69%);*/
}

.titreConteneur
{
    display: flex;
    background-color: white;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77);
    border: 4px solid white;
    justify-content: center;
}

.imageBureau
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    position: relative;

}

.titre
{
    position: absolute;
    color: aliceblue;
    background-color: #0d7498;
    margin-top: 60px;
    border-radius: 10px;
    padding: 10px;
    border: solid 4px white;
    

}

.nom
{font-size: 50px;
    font-family: 'Orbitron', sans-serif;

}

.prénom
{
    font-size: 30px;
}


.imageBureau .dimension
{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: flex;
    opacity: 0.9 ;
}


h2
{
    font-size: 40px;
    border: #0d7498 solid 5px;
    border-radius: 5px;
    line-height: 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 6px rgba(0,0,0,0.77);
    margin-top: 0;
}

p
{
    padding: 10px 50px;
    font-size: 25px;
   /* background: rgb(13,116,152);
background: linear-gradient(30deg, rgba(13,116,152,0.5690651260504201) 33%, rgba(132,223,129,0.7595413165266106) 69%);*/
}

.clientCom
{
    font-size: 30px;
    border-bottom: solid 2px #84df81;
    margin-left: 30px;
    margin-right: 30px;
}

.commentaires
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;

}

.client
{
    width: 20%;
    border: gray 1px solid;
    border-radius: 5px;
    
}

footer
{
    height: 200px;
    background: linear-gradient(0deg, rgba(104,107,110,1) 64%, rgba(135,146,149,1) 88%, rgba(180,196,201,1) 97%);
    margin-top: 50px;
    padding-top: 50px;
    font-size: 20px;
}

.creationLogo
{
    width: 40%;
}

/*pages*/

.retour
{
    color: #000000;
    border: 3px white solid;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 10px;
    width: 30%;
    margin-left: 5%;
    margin-bottom: 5px;
}

/*page création*/
.titreCreation
{
    font-size: 30px;
    padding: 10px;
}

.sitePageCreation
{
    height: auto;
    margin-left: 10%;
}

.siteCréer a
{
    color: #0d7498;
    width:30%;
    height: 20%;
}

.siteCréer
{
    /*background-color:#84df81;*/
    width: 100%;
    border: #0d7498 2px solid;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

img.imgSite
{
    width: 200px;
    height: 150px;
}

/*page contact*/

.contactFormulaire
{
    margin: 10px 20%;
    height: auto;
    border: solid black 2px;
    padding: 50px 15px;
   /* background-color: #84df81;*/
    -webkit-box-shadow: 1px 32px 25px 3px rgba(0,0,0,0.79); 
box-shadow: 1px 32px 25px 3px rgba(0,0,0,0.79);
}

.mailTel
{
    margin: 15px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #0d7498; 
}

.devisInfos
{
    font-size: 15px;
}

.bannièreSimple
{
    width: 90%;
}


@media only screen and (max-width:780px){

h1{
    margin: initial;
}

nav
{
    position: static;
}

.miseEnAvant
{
    justify-content: center;
}

.rondContour
{
    margin-top: 15px;
    margin-bottom: 15px;

}

main
{
    justify-content: inherit;
}

.vignetteInfo
{
    width: inherit;
}

.commentaires
{
    flex-direction: column;
    justify-content:center ;
}
.client
{
    width: initial;
    margin: 15px 20px;
}

.bannièreSimple
{
    width: 300px;
}

.contactFormulaire
{
    margin-left: 2%;
    margin-right: 2%;
}

}